html,
body {
    height: 100%;
}

.container {
    padding: 0;
}

.row {
    margin: 0;
}

.col {
    padding: 0;
}

.form-main {
    max-width: 1200px;
    padding: 1rem;
}

.form-main .form-floating:focus-within {
    z-index: 2;
}

.form-control.left {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.form-control.middle {
    border-radius: 0;
}

.form-control.right {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}


/*
    Chat CSS
    https://bbbootstrap.com/snippets/awesome-chat-messages-box-43788219
*/
.box.box-warning {
    border-top-color: var(--main-bg-color);
}

.box {
    position: relative;
    border-radius: 3px;
    background: #27292c;
    border-top: 3px solid var(--main-bg-color);
    border-bottom: 3px solid #27292c;
    margin-top: 20px;
    width: 100%;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}

.box-header.with-border {
    border-bottom: 1px solid var(--main-bg-color);
}

.box-header {
    color: #ffffff;
    display: block;
    padding: 10px;
    position: relative
}

.box-header>.fa, .box-header>.glyphicon, .box-header>.ion, .box-header .box-title {
    display: inline-block;
    font-size: 18px;
    margin: 0;
    line-height: 1;
}

.btn {
    border-radius: 3px;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 1px solid transparent;
}

.direct-chat .box-body {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    position: relative;
    overflow-x: hidden;
    padding: 0;
}

.box-body {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    padding: 10px;
}

.direct-chat-messages {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
    padding: 10px;
    height: 100%;
    overflow: auto;
}

.direct-chat-messages, .direct-chat-contacts {
    -webkit-transition: -webkit-transform .5s ease-in-out;
    -moz-transition: -moz-transform .5s ease-in-out;
    -o-transition: -o-transform .5s ease-in-out;
    transition: transform .5s ease-in-out;
}

.direct-chat-msg {
    margin-bottom: 10px;
}

.direct-chat-msg, .direct-chat-text {
    display: block;
}

.direct-chat-info {
    display: block;
    margin-bottom: 2px;
    font-size: 12px;
}

.direct-chat-timestamp {
    color: #999;
}

.direct-chat-img {
    border-radius: 50%;
    float: left;
    width: 35px;
    height: 35px;
    margin-top: 5px;
}

.direct-chat-text {
    border-radius: 5px;
    position: relative;
    white-space: pre-line;
    padding: 5px 10px;
    background: #d2d6de;
    border: 1px solid #d2d6de;
    margin: 5px 0 0 50px;
    color: #444;
}

.direct-chat-msg, .direct-chat-text {
    display: block;
}

.direct-chat-text:before {
    position: absolute;
    right: 100%;
    top: 15px;
    margin-top: -6px;
    border: 0.5rem solid transparent;
    border-right-color: #d2d6de;
    content: '';
    height: 0;
    width: 0;
    pointer-events: none;
}

.direct-chat-text.right:before {
    border-left-color: var(--main-bg-color);
    border-right-color: transparent;
    left: 100%;
}

:after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.direct-chat-info {
    display: block;
    margin-bottom: 2px;
    font-size: 12px;
}

.right .direct-chat-img {
    float: right;
}

.direct-chat-warning .right>.direct-chat-text {
    background: var(--main-bg-color);
    border-color: var(--main-bg-color);
    color: #fff;
}

.right .direct-chat-text {
    margin-right: 50px;
    margin-left: 0;
}

.box-footer {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-top: 1px solid var(--main-bg-color);
    padding: 10px;
    background-color: #27292c;
}


.input-group-btn {
    position: relative;
    font-size: 0;
    white-space: nowrap;
}

.input-group-btn:last-child>.btn, .input-group-btn:last-child>.btn-group {
    z-index: 2;
    margin-left: -1px;
}

.btn-warning {
    color: #fff;
    background-color: var(--main-bg-color);
    border-color: var(--main-bg-color);
}

.clipboard {
    float: right;
    cursor: pointer;
    padding: 0px 10px 4px 10px;
    margin-right: -12px;
}